* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #585858;
  text-align: left;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #000;
}

.btn_small_black {
  color: white;
  background: #252323;
  padding: 8px 16px;
  border-radius: 20px;
  display: flex;
  line-height: 1;
  font-size: 15px;
}
.btn_small_brand {
  color: white;
  background: #ff416c;
  padding: 8px 16px;
  border-radius: 20px;
  display: flex;
  line-height: 1;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn_small_brand:hover {
  background: #ff4b2b;
}

.slick-prev:before,
.slick-next:before {
  color: #ff416c;
}
.link {
  color: #ff416c;
  font-weight: 400;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mx {
  margin-left: auto;
  margin-right: auto;
}
.mx__2 {
  margin-left: 2px;
  margin-right: 2px;
}
.link:hover {
  color: #f07592;
  font-weight: 500;
}

.custom_table {
  width: 100%;
  border: 1px solid;
  table-layout: auto;
  text-align: center;
}
.custom_table thead {
  border-bottom: 1px solid;
  background: aquamarine;
}
.flex__wrap {
  flex-wrap: wrap;
}
.flex_j_start {
  /* justify-content: flex-start !important; */
  align-items: baseline;
}
.mx__5 {
  margin-left: 15px;
  margin-right: 15px;
}
